<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="header">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="col-xs-2">
        <div class="leftmenu">
          <ul>
            <li (click)="go('statistics')">统计分析</li>
            <li>客户管理</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
